
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/all.min.css"/>

    </head>
    <body>
        <div id="app">
            <div class="header" @click="WebSocketLoaded ? '' : loadWebsocket()">
                <a style="position:absolute;left:20px" :style="WebSocketLoaded ? 'color:#00ff00' : 'color:red'">•</a>
                {{ WebSocketLoaded ? "Status urządzeń" : "PONÓW POŁĄCZENIE" }}
            </div>
            <div class="infoBox blue" :class="smallView ? 'lite' : ''">
                <div class="line borderBottom">
                    <div class="description">
                        Temperatura
                    </div>
                    <div class="value chart temperature" v-if="!smallView">
        <div class="harmonogram" style="
    "></div><div class="harmonogram" style="margin-top: 3px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 9px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 8px;"></div><div class="harmonogram" style="margin-top: 3px;"></div><div class="harmonogram" style="margin-top: 1px;"></div><div class="harmonogram" style="margin-top: 2px;"></div><div class="harmonogram" style="margin-top: 1px;"></div><div class="harmonogram" style="margin-top: 3px;"></div>
                    </div>
                    <div class="value" style="width: 100%;">
                        {{temperature}}&deg;C
                    </div>
                </div>
                <div class="line">
                    <div class="description">
                        Wilgotność
                    </div>
                    <div class="value chart humidity" v-if="!smallView">
                    <div class="harmonogram" style="
                "></div><div class="harmonogram" style="margin-top: 3px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 9px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 8px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 7px;"></div><div class="harmonogram" style="margin-top: 3px;"></div><div class="harmonogram" style="margin-top: 1px;"></div><div class="harmonogram" style="margin-top: 2px;"></div><div class="harmonogram" style="margin-top: 1px;"></div><div class="harmonogram" style="margin-top: 3px;"></div>
                                </div>
                    <div class="value" style="width: 100%;">
                        {{humidity}} %
                    </div>
                </div>
            </div>
            
            
            <div class="infoBox red" v-if="!smallView">
                <div class="line">
                    <div class="description">
                        Czujnik zmierzchu
                    </div>
                    <div class="value">
                        JASNO
                    </div>
                </div>
            </div>
            <div class="infoBox blue lite sensor" v-else style="margin-top: 10px;" :class="lightSensor ? '' : 'gray'">
                <div class="line" style="text-align: center;">
                    <div class="value" style="width: 100%;">
                        <i class="fas" :class="lightSensor ? 'fa-sun' : 'fa-moon'"></i>
                    </div>
                </div>
            </div>
            
            <div class="infoBox green" v-if="!smallView">
                <div class="line">
                    <div class="description">
                        Czujnik ruchu
                    </div>
                    <div class="value">
                        BRAK
                    </div>
                </div>
            </div>

            <div class="infoBox blue lite sensor" v-else :class="motionSensor ? '' : 'gray'">
                <div class="line" style="text-align: center;">
                    <div class="value" style="width: 100%;">
                        <i class="fas" :class="motionSensor ? 'fa-running' : 'fa-male'"></i>
                    </div>
                </div>
            </div>

            <div class="infoBox yellow">
                <div class="line borderBottom">
                    <div class="description">
                        Pasek LED
                    </div>
                    <div class="value">
                        <div class="switch" @click="switchLed();switchs('turnOn');" :class="light.turnOn ? 'active' : ''"><div class="slider"></div></div>
                    </div>
                </div>
                <div class="line borderBottom">
                    <div class="description">
                        Tryb AUTO
                    </div>
                    <div class="value">
                        <div class="switch" :class="light.auto ? 'active' : ''" @click="switchAuto('auto');"><div class="slider"></div></div>
                    </div>
                    <i class="fas fa-cog" style="float: right;margin: 5px 10px;" @click="light.settings = !light.settings"></i>
                    <div class="line settings" style="margin-top: 5px;" v-if="light.settings">
                        <div class="description" style="margin-bottom: 1px;">
                           Godzina włączenia
                        </div> <div class="value"><input type="time" v-model="light.scheduleOnTime"></div> 
                        <div class="description">
                           Godzina wyłączenia
                        </div> <div class="value"><input type="time" v-model="light.scheduleOffTime"></div> 
                        <div class="clear"></div>
                        <div class="selectableOption switch" v-for="day in 7" :class="light.scheduledDays[day > 6 ? 0 : day] ? 'active' : ''" @click="light.scheduledDays[day > 6 ? 0 : day] ? light.scheduledDays[day > 6 ? 0 : day] = 0 : light.scheduledDays[day > 6 ? 0 : day] = 1;$forceUpdate();">
                            {{ day==1 ? "Pn"
                            : day==2 ? "Wt"
                            : day==3 ? "Śr"
                            : day==4 ? "Cz"
                            : day==5 ? "Pt"
                            : day==6 ? "Sb"
                            : "Nd" }}
                        </div>
                        <div class="clear"></div>
                        <div class="button" @click="saveSettings();light.settings = false;">ZAPISZ</div>
                    </div>
                </div>
                <div class="line borderBottom">
                    <div class="description">
                        Tęcza
                    </div>
                    <div class="value">
                        <div class="switch" :class="light.rainbow ? 'active' : ''" @click="switchs('rainbow')"><div class="slider"></div></div>
                    </div>
                </div>
                <div class="line">
                    <div class="description">
                        Kolor
                    </div>
                    <div class="value">
                        <input @input="sendRGB()" type="color" class="color" v-model="light.color">
                    </div>
                </div>
            </div>

            
        </div>
    </body>

    <script src="js/jquery.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/script.js"></script>
</html>