
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/all.min.css"/>

    </head>
    <body>
        <div id="app">
            <div class="header" @click="WebSocketLoaded ? '' : loadWebsocket()">
                <div class="symbol background" :style="WebSocketLoaded ? '' : 'filter:grayscale(1)'">
                    <div class="content">
                        <img src="loga/symbol.svg">
                    </div>
                </div>
                <div style="padding: 7px 0px;color: rgb(17, 17, 17);font-size: 14px;">{{ WebSocketLoaded ? "Status urządzeń" : "PONÓW POŁĄCZENIE" }}</div>            
            </div>
            <div class="clear"></div>
            <div class="background box half" :class="motionSensor ? '' : 'inactive'">
                <div class="content">
                    <div class="background">
                        <div class="content">
                            światło
                        </div>
                    </div>
                    <div class="clear"></div>
                    <a style="padding: 10px;">
                        {{ lightSensor ? "jasno" : "brak światła" }}
                    </a>
                    <i class="fas" :class="lightSensor ? 'fa-sun' : 'fa-moon'"></i>
                </div>
            </div>
            <div class="background box half" :class="motionSensor ? '' : 'inactive'">
                <div class="content">
                    <div class="background">
                        <div class="content">
                            ruch
                        </div>
                    </div>
                    <div class="clear"></div>
                    <a style="padding: 10px;">
                        {{ motionSensor ? "wykryto ruch" : "brak" }}
                    </a>
                    <i class="fas" :class="motionSensor ? 'fa-running' : 'fa-male'"></i>
                </div>
            </div>
            <div class="background box">
                <div class="content">
                    <div class="background">
                        <div class="content">
                            temperatura
                        </div>
                    </div>
                    <div class="clear"></div> 
                    <a style="padding: 10px;">
                      maleje
                    </a>
                    <div class="value" style="margin-top: -15px;margin-right: 20px;">
                        {{temperature}}&deg;C
                    </div>
                </div>
            </div>
            <div class="background box">
                <div class="content">
                    <div class="background">
                        <div class="content">
                            wilgotność
                        </div>
                    </div>
                    <div class="clear"></div> 
                    <a style="padding: 10px;">
                      maleje
                    </a>
                    <div class="value" style="margin-top: -15px;margin-right: 20px;">
                        {{humidity}} %
                    </div>
                </div>
            </div>

            <div class="background box" style="filter: hue-rotate(225deg);" :class="light.turnOn ? '' : 'inactive'">
                <div class="content">
                    <div class="background">
                        <div class="content">
                            pasek led
                        </div>
                    </div>
                    <div class="clear"></div> 
                    <a style="padding: 10px;">
                      {{ light.turnOn ? "włączony" : "wyłączony" }}
                    </a>
                    <div @click="switchLed();switchs('turnOn');" class="value" style="margin-top: -15px;margin-right: 10px;background: white;color: #800033;padding: 6px 15px;transform: skewX(-20deg);"><a style="
                        transform: skewX(20deg);
                        font-size: 15px;
                        text-transform: uppercase;
                    ">{{ light.turnOn ? "wyłącz" : "włącz" }}</a></div>
                    <div class="value" style="margin-top: -15px;margin-right: 10px;background: white;color: #800033;padding: 6px 15px;transform: skewX(-20deg);" @click="light.settings = !light.settings"><i class="fas fa-cog" style="
                        transform: skewX(20deg);
                        font-size: 15px;
                        text-transform: uppercase;
                        margin: 0;
                    "></i></div>
                </div>
            </div>
            <div class="moreItems" style="">
                <div class="item" style="padding:5px 10px;float: left;width: calc(100% - 20px);">
                    <div class="name" style="float:left;color: #003961;font-weight: bold;">
                        Tryb AUTO
                    </div>
                    <div class="value" @click="switchAuto('auto');" style="font-size: 14px;background: #003961;padding: 2px 10px;border-radius: 5px;" :style="light.auto ? '' : 'filter:grayscale(1)'">
                        {{ light.auto ? "wyłącz" : "włącz" }}
                    </div>
                </div>
                <div class="item" style="padding:0 10px 5px 10px;float: left;width: calc(100% - 20px);">
                    <div class="name" style="float:left;color: #003961;font-weight: bold;">
                        Kolor
                    </div>
                    <div class="value" style="font-size: 15px;border-radius: 5px;">
                        <input @input="sendRGB()" type="color" class="color" v-model="light.color">
                    </div>
                </div>
            </div>
            <div class="infoBox yellow">
                <div class="line borderBottom">
                    <div class="description">
                        Pasek LED
                    </div>
                    <div class="value">
                        <div class="switch" @click="switchLed();switchs('turnOn');" :class="light.turnOn ? 'active' : ''"><div class="slider"></div></div>
                    </div>
                </div>
                <div class="line borderBottom">
                    <div class="description">
                        Tryb AUTO
                    </div>
                    <div class="value">
                        <div class="switch" :class="light.auto ? 'active' : ''" @click="switchAuto('auto');"><div class="slider"></div></div>
                    </div>
                    <i class="fas fa-cog" style="float: right;margin: 5px 10px;" @click="light.settings = !light.settings"></i>
                    <div class="line settings" style="margin-top: 5px;" v-if="light.settings">
                        <div class="description" style="margin-bottom: 1px;">
                           Godzina włączenia
                        </div> <div class="value"><input type="time" v-model="light.scheduleOnTime"></div> 
                        <div class="description">
                           Godzina wyłączenia
                        </div> <div class="value"><input type="time" v-model="light.scheduleOffTime"></div> 
                        <div class="clear"></div>
                        <div class="selectableOption switch" v-for="day in 7" :class="light.scheduledDays[day > 6 ? 0 : day] ? 'active' : ''" @click="light.scheduledDays[day > 6 ? 0 : day] ? light.scheduledDays[day > 6 ? 0 : day] = 0 : light.scheduledDays[day > 6 ? 0 : day] = 1;$forceUpdate();">
                            {{ day==1 ? "Pn"
                            : day==2 ? "Wt"
                            : day==3 ? "Śr"
                            : day==4 ? "Cz"
                            : day==5 ? "Pt"
                            : day==6 ? "Sb"
                            : "Nd" }}
                        </div>
                        <div class="clear"></div>
                        <div class="button" @click="saveSettings();light.settings = false;">ZAPISZ</div>
                    </div>
                </div>
                <div class="line borderBottom">
                    <div class="description">
                        Tęcza
                    </div>
                    <div class="value">
                        <div class="switch" :class="light.rainbow ? 'active' : ''" @click="switchs('rainbow')"><div class="slider"></div></div>
                    </div>
                </div>
                <div class="line">
                    <div class="description">
                        Kolor
                    </div>
                    <div class="value">
                        <input @input="sendRGB()" type="color" class="color" v-model="light.color">
                    </div>
                </div>
            </div>

            
        </div>
    </body>

    <script src="js/jquery.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/script.js"></script>
</html>